# R
.Rproj.user
.Rhistory
.RData
.Ruserdata
data-raw/
data/All Data By State/
data/All Data 0808/
data/120120 Paycheck Protection Program Data/
data/tidy_data/
data/adbs_bystate/
*.Rproj

.DS_Store

# Python stuff
python/data
python/secure_keys
src.egg-info/
__pycache__/
.ipynb_checkpoints
